.heading {
	font-size: 30px;
	padding: 16px 0;
	color: goldenrod;
	text-align: center;
}

/*Container*/
.container {
	margin: 36px auto;
	width: 100%;
	max-width: 1000px;
}


.search-label {
	position: relative;
}

.container input {
	width: 70%;
	padding: 16px;
	font-size: 36px;
	font-style: italic;
	color: rgb(105, 78, 78);
	box-sizing: border-box;
	outline: none;
	
}

.search-icon {
	position: absolute;
	top: -10px;
	font-size: 24px;
	color: #555;
	right: 18px;
}
